
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EmployeeApp</title>

    <link href="~/css/CreateEditEmployee.css" rel="stylesheet" />
</head>
<body>
    <div class="emp-header">
        <h2>Create/Edit Employee</h2>
    </div>
    <div class="row">
        <div class="col-4 avatar-sec">
            <div class="image-sec">
                <img class="rounded-circle avatar-img" src="~/img/avatar.jpg" alt="Avatar">
            </div>
            <div class="button-sec">
                <button type="button" class="btn btn-primary avatar-btn">Select avatar</button>
            </div>
        </div>
                
        <div class="col-8">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="inputName">
                </div>

                <div class="col-md-6">
                    <label for="inputAge" class="form-label">Age</label>
                    <input type="number" min="1" class="form-control" id="inputAge">
                </div>

                <div class="col-md-6">
                    <label for="inputSpesiality" class="form-label">Speciality</label>
                    <input type="text" class="form-control" id="inputSpeciality">
                </div>

                <div class="col-md-6">
                    <label for="inputDate" class="form-label">Employement Date</label>
                    <input type="date" class="form-control" id="inputDate">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
     

</body>
</html>
