
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EmployeeApp</title>

        <link href="~/css/Employee.css" rel="stylesheet" />
    </head>
    <body>
        <div class="emp-header">
            <h2>Employees</h2>
        </div>
                
        <div class="wrapper">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="button">Search</button>
                </div>
                <div class="col">
                    <a class="btn btn-primary create-btn" type="button" href="/CreateEditEmployee">Create Employee</a>
                </div>
            </div>
        </div>

        <div class="table-wrapper">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Speciality</th>
                        <th scope="col">Employement Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>kate</td>
                        <td>kate</td>
                        <td>kate</td>
                        <td>kate</td>
                        <td>
                            <button class="btn btn-outline-primary table-btn" type="button">View Tasks</button>
                            <button class="btn btn-outline-success table-btn" type="button">Edit</button>
                            <button class="btn btn-outline-danger table-btn" type="button">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     

    </body>
</html>
