
<!doctype html>
<html>
<head>
    <title>EmployeesApp</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Employees</h2>
    <a href="/CreateEditEmployee">Create/Edit Employee</a>
</body>
</html>
