<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a href="/Home/Index">EmployeeApp</a>
        <a href="/Home/Employees">Employees</a>
        <a href="/Home/Todo">ToDo</a>
        <a href="/Home/Login">LogIn</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
